body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to top right, #fff, #4f83d1);
  background-size: cover;
  background-attachment: fixed;
}


.quadro { /* quadro com desfoque */
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.15); 
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px); 
}

.tabela-table {
  max-width: 100%; /* Largura máxima da tabela */
}

.table-responsive {
  overflow-x: auto; /* rolagem horizontal */
}

